body {
    background-color: #8BA1BB;
    font-family: Arial;
    margin: 0
}

.centre {
    text-align: center;
    width: 100%;
}

div.contenu {
    background-color: white;
    padding: 10px;
    margin: 0px 2% 30px 2%; /* high right bottom left*/
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    margin-bottom: 12px;
}

p.description {
    text-align: center;
    max-width: 400px;
    font-size: 14px;
    display: inline-block;
}

p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 0px 40px 0px 40px;
    padding: 8px 18px ;
    font-weight: bold;
    font-size: 20px;
}

div.categorie {
    margin-bottom: -18px;
    margin-top: 60px;
}

div.separateur {
    background-color: black;
    width: 100px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
}

div.info {
    position: relative;
}

table.info {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #6C829DC0;
    color: white;
}

table.info th {
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}
table.info td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover; /*Garder les proportion de l'image a l'agrandissement fenetre*/
    min-height: 200px;
}

div.colonne {
    width: 100%;
    margin-top: 20px;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 10px solid #6C829D;
    padding-bottom: 5px;
}

div.colonne1 {
    display: inline-block;
}

div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 10px;
    margin-top: 4px;
    margin-bottom: 5px;
    display: inline-block;
}

table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 0;
    vertical-align: top;

}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr {
    height: 40px;
}

* {
    overflow: auto;
}

/* Styles pour ordinateur : largeur min de 768px */
@media only screen and (min-width: 760px) {
    div.contenu {
        padding: 30px;
        margin: 0px 10% 80px 10%; /* high right bottom left*/
        min-width: 350px;
    }

    table.info {
        height: 80px;
    }
    table.info th {
        font-size: 16px;
    }
    table.info td {
        text-align: center;
    }

    /* --- */
    div.colonne {
        width: 45%;
    }
    div.colonne1 {
        margin-right: 10%;
    }
    div.colonne2 {
        float: right;
    }
  }

  @media only screen and (min-width: 900px) {
    div.contenu {
        margin: auto;
        max-width: 650px;
    }
